.time-input > input::-webkit-outer-spin-button,
.time-input > input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.time-input > input {
    width: 20px;
    text-align: center;
}