<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Time Input Demo</title>

	<link rel="stylesheet" type="text/css" href="../dist/time-input.min.css">
	<link rel="stylesheet" type="text/css" href="./demo.css">

	<script src="./jquery.min.js"></script>
	<script src="./angular.min.js"></script>
	<script src="../bower_components/stork-shims/dist/shims.min.js"></script>
	<script src="../src/time-input.js"></script>
	<script src="./demo.js"></script>
</head>
<body ng-app="demo">
<h1>Time Input</h1>
<div class="main" ng-controller="ctrl">
	<div><label>live change [HH:MM:SS]:</label><span class="time-input" ng-model="mytime" data-options="options1"></span></div>
	<div><label>change on blur [HH:MM]:</label><span class="time-input" ng-model="mytime" data-options="options2"></span></div>
	<div><label>change on blur [MM:SS]:</label><span class="time-input" ng-model="mytime" data-options="options3"></span></div>
	<div><label>no custom options [HH:MM:SS]:</label><span class="time-input" ng-model="mytime" data-disabled="isDisabled"></span>
		<label for="disableBox">Disable:</label><input type="checkbox" id="disableBox" ng-model="isDisabled"></div>
	<div><label>final date:</label>{{mytime | date:'yyyy-MM-dd HH:mm:ss'}}</div>
</div>
</body>
</html>