<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Time Input Demo</title>

	<link rel="stylesheet" type="text/css" href="../dist/time-input.min.css">

	<script src="./jquery.min.js"></script>
	<script src="./angular.min.js"></script>
	<script src="../src/time-input.js"></script>
	<script src="./demo.js"></script>
</head>
<body ng-app="demo">
<h1>Time Input</h1>
<div class="main" ng-controller="ctrl">
	<div>live change: <span class="time-input" ng-model="mytime" ng-model-options="{ updateOnChange: true }"></span></div>
	<div>change on blur: <span class="time-input" ng-model="mytime"></span></div>
	<div>{{mytime | date:'yyyy-MM-dd HH:mm:ss'}}</div>
</div>
</body>
</html>